body {
  background-color: #B2B1B9;
  font-family: 'Open Sans', sans-serif;
}

.cabecalho {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.name {
  padding-top: 10px;
  font-size: 3.5rem;
}

.exp {
  padding: 10px;
  margin-bottom: 20px;


}

.periodo {
  text-align: right;
}

h5 {
  margin-top: 8px;
}

li {
  text-align: justify;
}
